@media (max-width: 1600px) {
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        text-shadow: 1px 1px 1px black;
        margin-top: 0;
    }

    .fundo-video {
        position: absolute;
        z-index: -1;
        background-size: cover;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    body {
        /* background-color: #0899DC; */
    }

    .fundo-video {
        display: none;
    }

    .conteudo {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .conteudo .camp-nou-image {
        max-width: 50%;
    }

    .conteudo .conteudo-principal .conteudo-principal-escrito {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .conteudo .subtitulo-principal {
        color: #fdc52c;
        text-align: center;
    }

    .conteudo .botao-principal {
        background-color: #DEAC23;
    }

    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        text-shadow: 1px 1px 1px black;
    }
}

@media (max-width: 1000px) {

    .cabecalho {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .conteudo .conteudo-principal {
        display: flex;
        flex-direction: column;
    }

    .conteudo .conteudo-principal .conteudo-principal-escrito {
        margin-top: 30px;
    }

    .conteudo-principal-escrito .titulo-principal {
        font-size: 54px;
    }

    .conteudo .camp-nou-image {
        max-width: 75%;

    }

    .conteudo .conteudo-secundario {
        background-color: rgba(0, 0, 0, 0.25);
        padding-bottom: 39px;
    }

}